#title {
    width: 100%;
    height: 100px;
    align-content: center;

    background-color: bisque;

    p {
        margin-left: 100px;
        font-size: 30px;
        font-family:'Franklin Gothic Medium';
    }
}

#content{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        text-align: center;
        width: 800px;
    }

    img {
        display: flex;
        justify-self: center;
    }
}

#pagesSection {
    width: 100%;
    height: 3%;
    background-color: chocolate;
    display: flex;
    justify-content: center;

}
