#title {
    width: 100%;
    height: 100px;

    /* this border code is just so you can see the element (remove later) */
    border: 2px dashed red ;
    margin: 2px;
    /*  */
}

#content{
    display: flex;
    justify-content: center;

    p {
        
    }

    img {
        display: flex;
        justify-self: center;
    }

    /* this border code is just so you can see the element (remove later) */
    border: 4px ridge blue;
    margin: 2px;
    /*  */
}

#pagesSection {
    width: 100%;
    height: 3%;


    /* this border code is just so you can see the element (remove later) */
    border: 2px solid green;
    margin: 2px;
    /*  */
}
